@charset "utf-8";

*{
    margin: 0%;
    padding: 0%;
}
html{
    font: normal 13pt arial;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
section.box{
    background-color: aquamarine;
    min-width: 300px;
    max-width: 800px;
    height: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.253);
}
div#res{
    min-width: 100px;
    max-width: 300px;
    height: auto;
    background-color: rgb(255, 255, 255);
}
p{
    padding: 10px;
}
p#p{
    max-width: 290px;
    height: auto;
}